.evolutions {
  margin-top: 10px;
  h3 {
    font-size: 18px;
    font-size: 24px;
  }
  ul {
    padding: 10px;
    li {
      font-size: 20px;
      line-height: 22px;
      &::before {
        content: "";
        background: #000;

        border-radius: 50%;
        display: inline-block;
        width: 6px;
        height: 6px;
        margin-right: 10px;
      }
    }
  }
}
